<app-page-header [title]="'Productos'" [items]="['Productos']" [active_item]="'home'"></app-page-header>

<div class="row row-sm">
    <div class="col-sm-12 col-lg-12 col-xl-12">
      <div class="row row-sm">
        <div class="col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="card custom-card">
                <div class="card-body">
                    <button class="btn ripple btn-success" (click)="BasicOpen(basicmodal)"><i class="fe fe-edit me-1"></i>Nuevo personal</button> 
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="row row-sm">
              <div class="col-md-6 col-lg-6 col-xl-2 col-sm-6" *ngFor="let shop of shopList">
                <div class="card custom-card">
                  <div class="p-4">
                    <div class="product-grid">
                        <div class="product-image">
                           
                            
                              <img src="/assets/img/iconos/producto.png">
                            
                            <!-- <a routerLink="/eCommerce/wishlist" class="product-like-icon" href="javascript:;"><i class="far fa-heart"></i></a> -->
                            <div class="product-link">
                              <a (click)="ModelProduct(producmodel)">
                                <i class="fe fe-edit"></i>
                                <span>Editar producto</span>
                              </a>
                            </div>
                          </div>
                     
                      <div class="product-content">
                        <div class="d-flex">
                          <div>
                            <h3 class="title"><a href="javascript:;">{{shop.title}}</a></h3>
                          </div>
                          <div class="price text-end ms-auto">
                            
                            <span class="fs-18">{{shop.newValue}}</span>
                          </div>
                        </div>
             
                        <div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <nav>
              <div class="d-flex justify-content-end">
                
              </div>
            </nav>
          </div>
      </div>
    </div>
  </div>

  <ng-template #basicmodal let-modal>
    <!-- BASIC MODAL -->
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Nuevo producto</h6>
      <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">dfdfdgdfgdfg
      </button> -->
    </div>
    <div class="modal-body">
      <!-- <h6>Informacion</h6> -->
      <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card custom-card">
                <div class="card-header">
                    <h6 class="main-content-label">Shipping Details</h6>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name1" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name2" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <input type="email" class="form-control" id="inputEmail5" placeholder="Email Address">
                    </div>
                    <div class="form-group ">
                        <input type="text" class="form-control" placeholder="AddressLine1">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Country">
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <div class="form-group">
                                <input type="text" class="form-control" id="region" placeholder="Country/Region">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            <div class="form-group">
                                <input type="text" class="form-control" id="city" placeholder="City">
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <div class="form-group">
                                <input type="number" class="form-control" id="postal" placeholder="Zip/Postal">
                            </div>
                        </div>
                    </div>
                    <div class="form-footer mt-2">
                        <a href="javascript:;" class="btn btn-primary">Confirm  Details</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn ripple btn-primary" type="button">Save changes</button>
      <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>


  <ng-template #producmodel let-modal>
    <!-- BASIC MODAL -->
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Editar producto</h6>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      </button>
    </div>
    <div class="modal-body">
      <!-- <h6>Informacion</h6> -->
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
        dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div>
    <div class="modal-footer">
      <button class="btn ripple btn-primary" type="button">Save changes</button>
      <button type="button" class="btn ripple btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>