<div class="container-contador">
    <div class="container-info-contador">
        <div class="contador">
            <div class="item">
                <span class="icono-img-facebook">
                    <img src="/assets/img/redes/facebook.png" width="50px" alt="">
                </span>
                <span class="cantidad">{{cont1}}+</span>
                <span class="seguidores">Me Gusta</span>
            </div>
            <div class="item">
                <span class="icono-img-twitter">
                    <img src="/assets/img/redes/Twitter.png" width="50px" alt="">
                </span>
                <span class="cantidad">{{cont2}}K</span>
                <span class="seguidores">Seguidores</span>
            </div>
            <div class="item">
                <span class="icono-img-youtube">
                    <img src="/assets/img/redes/youtube.png" width="50px" alt="">
                </span>
                <span class="cantidad">{{cont3}}k</span>
                <span class="seguidores">Suscriptores</span>
            </div>
            <div class="item">
                <span class="icono-img-instagram">
                    <img src="/assets/img/redes/instagram.png" width="50px" alt="">
                </span>
                <span class="cantidad">{{cont4}}+</span>
                <span class="seguidores">Seguidores</span>
            </div>
        </div>
    </div>
</div>
