<app-page-header
  [title]="'Usuario'"
  [items]="['Usuario']"
  [active_item]="'Cliente'"
>
</app-page-header>

<div class="row row-sm">
  <div class="col-sm-12 col-lg-12 col-xl-12">
    <div class="row row-sm">
      <div class="col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row row-sm">
          <div class="col-xl-12">
            <div class="card overflow-visible custom-card">
              <div class="card-body">
                <div class="table-responsive">
                  <app-tabla-clientes></app-tabla-clientes>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
