<app-page-header [title]="'Usuario'" [items]="['Usuario']" [active_item]="'Cliente'">
</app-page-header>

<!-- <div class="row row-sm">
    <div class="col-sm-12 col-lg-12 col-xl-12"> 
      
      <div class="row row-sm">
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-12 col-xxl-12">
            <div class="card custom-card overflow-hidden">
                <div class="card-body"> 
                    <div class="btn-list">
                        <button class="btn ripple btn-primary"><i class="fe fe-folder me-1"></i> Folder</button>
                        <button class="btn ripple btn-secondary"><i class="fe fe-plus me-1"></i> More</button>
                        <button class="btn ripple btn-success"><i class="fe fe-edit me-1"></i> Edit</button>
                        <button class="btn ripple btn-info"><i class="fe fe-download me-1"></i> Download</button>
                        <button class="btn ripple btn-warning"><i class="fe fe-calendar me-1"></i> Calendar</button>
                        <button class="btn ripple btn-danger"><i class="fe fe-heart me-1"></i> Like</button>
                      </div>
                 
                </div>
              </div>
         
        </div>
        <div class="col-sm-12 col-lg-8 col-xl-9 col-xxl-7">
          <div class="card custom-card overflow-hidden">
           
            <div class="card-body"> 
             
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-12 col-xl-12 col-xxl-3">
            <div class="card custom-card overflow-hidden">
           
                <div class="card-body"> 
                 
                </div>
              </div>
          
          
        </div>
      </div>

    </div>
  </div> -->
