<div class="container-product">
    <div class="container-info">
        <div class="container-info-text" >
            <h3 data-aos="fade-right" data-aos-duration="3000" data-aos-anchor-placement="center-bottom">Helado y sus sabores</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et odit
                accusantium, tempore iure sequi eaque ratione sed, consectetur culpa
                architecto eos quo! Commodi possimus pariatur voluptate tempora voluptas
                quibusdam officia?
            </p>
            <button class="btn ripple btn-success disabled">Success</button>
        </div>
        <div class="container-img">
            <img src="/assets/img/helados/heladoChocolate.jpg" alt=""  width="100%" data-aos="zoom-in" data-aos-duration="3000"  data-aos-anchor-placement="center-bottom" />
        </div>
        <div class="container-img-center">
            <img src="/assets/img/helados/cono2.jpg" alt=""  width="100%" height="573vh" data-aos="fade-up" data-aos-duration="1500"  data-aos-anchor-placement="center-bottom" />
        </div>
        <div class="container-img-text">
            <div class="cont-img">
                <img src="/assets/img/helados/personaHelado1.jpg" alt=""  width="100%" height="373vh" data-aos="zoom-in" data-aos-duration="3000"  data-aos-anchor-placement="center-bottom" />
            </div>
            <div class="cont-img-text">
                <p>
                Disponemos de conos, copas, helados, batidos y una infinidad de sabores.
                </p>
            </div>

        </div>
    </div>
</div>
