<header class="parallax-completo">
  <div class="contenedor">
    <!-- <div class="hero-text">
            <h1>¡Tu Destino Dulce y Refrescante !</h1>
            <h2>Descubre el sabor único de nuestras creaciones</h2> -->
    <!-- <img src="/assets/img/hola.jpg" alt=""> -->
    <!-- </div> -->
    <div class="container-all-false">
      <h1 class="container-subtitle">
        ¿Descubre el sabor único de nuestras creaciones?
      </h1>
      <br>
      <br>
      <br>
      <div class="container-text">
        <h3>Dulces momentos, sabores eternos.</h3>

      </div>

      <div class="container-network">
        <a href=""
          ><img
            src="/assets/img/redes/facebook.png"
            alt="facebook"
            width="60px"
        /></a>
        <a href=""
          ><img
            src="/assets/img/redes/instagram.png"
            alt="instagran"
            width="60px"
        /></a>
        <a href=""
          ><img
            src="/assets/img/redes/whatsapp.png"
            alt="whatsapp"
            width="50px"
        /></a>
        <a href=""
          ><img src="/assets/img/redes/youtube.png" alt="yotuube" width="70px"
        /></a>
      </div>
    </div>

    <div class="col">
      <div class="col-sm-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-md-6">
            <div class="container-all">
              <h1 class="container-subtitle">
                ¿Descubre el sabor único de nuestras creaciones?
              </h1>

              <div class="container-text">
                <h3>Dulces momentos, sabores eternos.</h3>

                <br>
            <br>
            <button class="btn ripple btn-dark-transparent" style="margin-left: 25%;">READ MORE</button>
              </div>
            </div>
            <br>
            
            <!-- <div class="container-network">
              <a href=""
                ><img
                  src="/assets/img/redes/facebook.png"
                  alt="facebook"
                  width="60px"
              /></a>
              <a href=""
                ><img
                  src="/assets/img/redes/instagram.png"
                  alt="instagran"
                  width="60px"
              /></a>
              <a href=""
                ><img
                  src="/assets/img/redes/whatsapp.png"
                  alt="whatsapp"
                  width="50px"
              /></a>
              <a href=""
                ><img
                  src="/assets/img/redes/youtube.png"
                  alt="yotuube"
                  width="70px"
              /></a>
            </div> -->
          </div>
          <div class="col-md-6">
            <div class="foto" data-aos="zoom-out" >
              
              <img src="/assets/img/fondo2.png" alt="fondo2" width="800px" />
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</header>
<div class="container-contador">
  <app-seccion-contador></app-seccion-contador>
</div>

<div class="container-slider">
  <div class="container-title" >
    <h2 data-aos="zoom-out-up" data-aos-anchor-placement="center-bottom" data-aos-duration="3000" >CONOCE MIS PASTELES</h2>
  </div>
  <div class="container-parrafo">
    <p data-aos="zoom-out-up" data-aos-anchor-placement="center-bottom" data-aos-duration="3000" >
      En nuestra pastelería, encontrarás una amplia variedad de deliciosos
      pasteles, tartas y postres artesanales, elaborados con ingredientes
      frescos y de la más alta calidad. Nuestros chefs pasteleros crean
      verdaderas obras maestras que deleitan tanto a la vista como al paladar.
    </p>
  </div>

  <div class="slider">
    <app-slider data-aos="zoom-in-down" data-aos-anchor-placement="center-bottom" data-aos-duration="3000" ></app-slider>
  </div>
</div>

<div class="container-product">
  <app-seccion-product></app-seccion-product>
</div>

<div class="container-menu">
  <app-seccion-menu></app-seccion-menu>  
</div>




