<header class="parallax-completo">
  <div class="contenedor">
    <!-- <div class="hero-text">
            <h1>¡Tu Destino Dulce y Refrescante !</h1>
            <h2>Descubre el sabor único de nuestras creaciones</h2> -->
    <!-- <img src="/assets/img/hola.jpg" alt=""> -->
    <!-- </div> -->
    <div class="container-all-false">
      <h1 class="container-subtitle">
        ¿Descubre el sabor único de nuestras creaciones?
      </h1>

      <div class="container-text">
        <ul>
          <li>Dulces momentos, sabores eternos.</li>
          <li>Cada postre, una obra maestra.</li>
          <li>Endulza tu día con nuestras delicias.</li>
        </ul>
      </div>

      <div class="container-network">
        <a href=""
          ><img
            src="/assets/img/redes/facebook.png"
            alt="facebook"
            width="60px"
        /></a>
        <a href=""
          ><img
            src="/assets/img/redes/instagram.png"
            alt="instagran"
            width="60px"
        /></a>
        <a href=""
          ><img
            src="/assets/img/redes/whatsapp.png"
            alt="whatsapp"
            width="50px"
        /></a>
        <a href=""
          ><img src="/assets/img/redes/youtube.png" alt="yotuube" width="70px"
        /></a>
      </div>
    </div>

    <div class="col">
      <div class="col-sm-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-md-6">
            <div class="container-all">
              <h1 class="container-subtitle">
                ¿Descubre el sabor único de nuestras creaciones?
              </h1>

              <div class="container-text">
                <ul>
                  <li>Dulces momentos, sabores eternos.</li>
                  <li>Cada postre, una obra maestra.</li>
                  <li>Endulza tu día con nuestras delicias.</li>
                </ul>
              </div>
            </div>
            <div class="container-network">
              <a href=""
                ><img
                  src="/assets/img/redes/facebook.png"
                  alt="facebook"
                  width="60px"
              /></a>
              <a href=""
                ><img
                  src="/assets/img/redes/instagram.png"
                  alt="instagran"
                  width="60px"
              /></a>
              <a href=""
                ><img
                  src="/assets/img/redes/whatsapp.png"
                  alt="whatsapp"
                  width="50px"
              /></a>
              <a href=""
                ><img
                  src="/assets/img/redes/youtube.png"
                  alt="yotuube"
                  width="70px"
              /></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="foto">
              <img src="/assets/img/fondo2.png" alt="fondo2" width="800px" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container-slider" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
  <h2>Mi trabajo</h2>
  <app-slider></app-slider>

  
  <div class="slider">
    
  </div>
</div>
