

    <nav>
        <div class="logo">
            <h3>Café y Dulzura</h3>
            <!-- <h4>Un Mundo de Sabores</h4> -->
        </div>
        <ul id="menuList">
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/about">¿Quienes somos?</a></li>
            <!-- <li><a routerLink="/contact">Contacto</a></li> -->
        </ul>
        <div class="menu-icon">
            <i class="fe fe-align-justify" (click)="toggleMenu()"></i>
        </div>
    </nav>


    <script>
       
        
    </script>
    <script src="https://kit.fontawesome.com/f8e1a90484.js" crossorigin="anonymous"></script>