<!-- 

 <div class="menu">
     <div class="logo">
         <h3>Café y Dulzura</h3>
     </div>
     <ul id="menuList">
         <li><a routerLink="/">Inicio</a></li>
         <li><a routerLink="/about">¿Quienes somos?</a></li>
     </ul>
     <div class="menu-icon">
         <i class="fe fe-align-justify" (click)="toggleMenu()"></i>
     </div> 
 </div> -->

 <header>
    <figure class="logo">
        <img src="images/logo.png" alt="">
    </figure>
    <nav class="main-nav">
        <ul>
            <li><a href="">Coffee</a></li>
            <li><a href="">Menu</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>
</header>