
  <div class="col-sm-12 col-lg-12 col-xl-12">
    <div class="row">
      <div class="col-xl-4 col-lg-5 col-md-6"> 
        <div class="container-footer-redes">

            <div class="col-sm-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="conten-nt">
                        <div class="col-md-12">
                            <div class="network">
                                <a href="">
                                  <i class="si si-social-facebook"></i>
                                </a>
                                <a href="">
                                  <i class="si si-social-instagram"></i>
                                </a>
                                <a href="">
                                  <i class="si si-social-youtube"></i>
                                </a>
                                <a href="">
                                  <i class="mdi mdi-whatsapp"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-redes">
                                <span>2024 Edith SysCraft, Cuenca, Azuay, Ecuador</span>
                                <br />
                                <span>imagenes de Pinteres, y otras paginas</span>
                                <br />
                                <span>0962674872</span>
                                <br />
                                <span>jonathan.uzhca0106@gmail.com</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
           
        </div>
      </div>
      <div class="col-xl-8 col-lg-7 col-md-6">
        <div class="container-footer-text">
            <div class="col-sm-12 col-lg-12 col-xl-12">
                <div class="row">
                    <!-- <div class="col-md-4"> -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="info-1">
                            <div class="info-text">
                                <h4>Servicios</h4>
                            <!-- <nav> -->
                                <!-- <ul> -->
                                    <span><a href="">Pateleria</a></span>
                                    <br>
                                    <span><a href="">Heladeria</a></span>
                                    <br>
                                    <span><a href="">Cafeteria</a></span>
                                    <br>
                                    <span><a href="">Tortas personalizadas</a></span>
                                    <br>
                                    <span><a href="">Brounice</a></span>
                                    <br>
                                    <span><a href="">Copas</a></span>
                                    <br>
                                    <span><a href="">Brazos Guitanos</a></span>
                                <!-- </ul> -->
                            <!-- </nav> -->
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                        <!-- <div class="col-md-4" > -->
                        <div class="info-1">
                          <div class="info-compa">
                            <h4>Empresa</h4>
                            <!-- <nav> -->
                                <!-- <ul> -->
                                    <span><a href="">Home</a></span>
                                    <br>
                                    <span><a href="">¿Quienes somos?</a></span>
                                    <br>
                                    <span><a href="">Contacto</a></span>
                                <!-- </ul> -->
                            <!-- </nav> -->
                          </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-4"> -->
                    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12">
                        <div class="info-1">
                          <div class="info-sucrip">
                           <h4>Suscribete</h4>
                            <!--  <p>¡No se pierda nunca las últimas noticias, actualizaciones y ofertas exclusivas de 
                                nuestra empresa! Suscríbase a nuestro boletín hoy y reciba información privilegiada 
                                directamente en su bandeja de entrada.</p>
                             -->
                                
                                <!-- <div class="card custom-card"> -->
                                  <div class="card-body">
                                      <div>
                                          <!-- <h6 class="main-content-label mb-1">Email Validation</h6> -->
                                          <p class="text-muted card-sub-title">A demo of an email field that is required and must also be a
                                              valid email address. It automatically validate an email when the field is in type="email".</p>
                                      </div>
                                      <form  novalidate >
                                          <div class="d-sm-flex align-items-center">
                                              <div class="form-group mg-b-0">
                                                  <!-- <label class="form-label">Email: <span class="tx-danger">*</span> -->
                                                      <input class="form-control wd-sm-250"
                                                          placeholder="  Email" >
                                                  <!-- </label> -->
                                                  <!-- <div *ngIf="(emailFormControl['email'].touched || submitted1) && (emailFormControl['email'].errors?.['required'])"
                                                      class="tx-danger">
                                                      <small>Email Id is required</small>
                                                  </div>
                                                  <div *ngIf="emailFormControl['email'].errors?.['pattern']" class="tx-danger">
                                                      <small>Enter a valid mail id</small>
                                                  </div> -->
                                              </div>
                                              <div class="">
                                                  <button class="btn ripple btn-primary pd-x-20 mt-md-1 ms-3" type="submit">Suscribete</button>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              <!-- </div> -->

                          </div>
                          
                          
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <div class="linea-text">
                        <br>
                        <span>© 2024. All Rights Reserved.
                          Built by BootstrapBrain with ♥</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>





<!-- <div class="container-footer">
    <div class="container-info-footer">
      <div class="container-footer-redes">
        <div class="container-network">
          
  
          <div class="text-redes">
            <span>2024 Edith SysCraft, Cuenca, Azuay, Ecuador</span>
            <br />
            <span>imagenes de Pinteres, y otras paginas</span>
            <br />
            <span>0962674872</span>
            <br />
            <span>jonathan.uzhca0106@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="container-footer-text"></div>
    </div>
  </div>  -->