<div class="container-menu">
  <div class="container-sect2"></div>

  <!-- <div layout="row" layout-sm="column" style="background-color: black;">
    <div flex="23">
      I'm above on mobile, and to the left on larger devices.
    </div>
    <div flex="23">
      I'm below on mobile, and to the right on larger devices.
    </div>
  </div> -->

  <div class="container-info">
    <div class="container-info-lef" data-aos="fade-down-right" data-aos-duration="3000"  data-aos-anchor-placement="center-bottom"></div>

    <div class="container-inf-right" data-aos="fade-down-left" data-aos-duration="3000"  data-aos-anchor-placement="center-bottom"></div>
    <img src="/assets/img/persona1.jpg" alt="" data-aos="zoom-in" data-aos-duration="3000"  data-aos-anchor-placement="center-bottom" />
    <div class="container-info-text"  data-aos="flip-right" data-aos-anchor-placement="center-bottom">
      <h3>holas mundo</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et odit
        accusantium, tempore iure sequi eaque ratione sed, consectetur culpa
        architecto eos quo! Commodi possimus pariatur voluptate tempora voluptas
        quibusdam officia?
      </p>
      <button class="btn ripple btn-success disabled">Success</button>
    </div>
  </div>
</div>

<!-- <div class="container-menu-sub">
  <div class="card-menu">
    <h2>holas</h2>
  </div>
  <div class="card-menu">
    <h2>hola mundo</h2>
  </div>
  <div class="card-menu">
    <h2>hola mundo</h2>
  </div>
  <div class="card-menu">
    <h2>hola mundo</h2>
  </div>
  
 </div> -->
