<!-- <app-page-header [title]="'AboutUs'" [items]="['Pages']" [active_item]="'AboutUs'"></app-page-header> -->
<div class="container-menu">
  <app-seccion-menu></app-seccion-menu>
</div>
<br />
<br />
<div class="container">
  <!-- Row -->
  <div class="row row-sm">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="row row-sm">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="mt-5">
            <h3 class="mb-3">
              Conoce mas de <span class="text-primary">Cafe y Dulzura</span> y su Historia.
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit,
              commodi doloribus, soluta magni ratione quasi amet obcaecati
              ducimus temporibus accusamus sint sequi, porro dicta? Labore error
              quas deserunt. Aliquid, dolore.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit,
              commodi doloribus, soluta magni ratione quasi amet obcaecati
              ducimus temporibus accusamus sint sequi, porro dicta? Labore error
              quas deserunt. Aliquid, dolore.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit,
              commodi doloribus, soluta magni ratione quasi amet obcaecati
              ducimus temporibus accusamus sint sequi, porro dicta? Labore error
              quas deserunt. Aliquid, dolore.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit,
              commodi doloribus, soluta magni ratione quasi amet obcaecati
              ducimus temporibus accusamus sint sequi, porro dicta? Labore error
              quas deserunt. Aliquid, dolore.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit,
              commodi doloribus, soluta magni ratione quasi amet obcaecati
              ducimus temporibus accusamus sint sequi, porro dicta? Labore error
              quas deserunt. Aliquid, dolore.
            </p>
            <!-- <button class="btn ripple btn-primary">Contact Us</button> -->
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="text-xl-end text-center">
            <img
              src="/assets/img/helados/personaCono4.jpg"
              alt="img"
              width="400px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Row -->

  <!-- Row -->
  <div class="row row-sm">
    <div class="col-xl-12">
      <div class="pt-5 pb-4">
        <h3>Nuestro servicio </h3>
        <p class="tx-14 mb-4">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam
          similique provident Lorem ipsum dolor sit amet consectetur !
        </p>
        <div>
          <div class="d-flex mb-4">
            <div>
              <img src="/assets/img/helados/pastel-de-chocolate.png" width="54px" alt="">
            </div>
            <div class="ms-4">
              <h5 class="tx-medium">Pasteleria</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Adipisci quos sint, officia vel ab perferendis, dolores placeat
                dolor aliquam debitis eius, illum ullam ratione blanditiis
                fugiat omnis beatae odio vitae!
              </p>
            </div>
          </div>
          <div class="d-flex mb-4">
            <div>
              <img src="/assets/img/helados/helado.png" width="54px" alt="">
            </div>
            <div class="ms-4">
              <h5 class="tx-medium">Heladeria</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Adipisci quos sint, officia vel ab perferendis illum ullam
                ratione blanditiis fugiat omnis beatae odio vitae!
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div>
                <img src="/assets/img/helados/cafe.png" width="54px" alt="">
            </div>
            <div class="ms-4">
              <h5 class="tx-medium">Cafeteria</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Adipisci quos sint, officia vel ab perferendis, dolores placeat
                dolor aliquam debitis eius, illum ullam ratione blanditiis
                fugiat omnis beatae odio vitae!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Row -->

  <!-- Row -->
  <div class="row row-sm">
    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-6">
      <div class="card custom-card our-team">
        <div class="card-body">
          <div class="picture avatar-lg online text-center">
            <img
              alt="avatar"
              class="rounded-circle"
              src="/assets/img/jonathan01.png"
            />
          </div>
          <div class="text-center mt-3">
            <h5 class="pro-user-username text-dark mt-2 mb-0">
              Jonnathan Uzhca
            </h5>
            <p class="pro-user-desc text-muted mb-1">Web Designer</p>
            <div class="text-center tx-14 mb-3">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Quibusdam !
            </div>
          </div>
          <div class="text-center mt-3">
            <button
              class="btn btn-sm ripple bg-primary-transparent text-primary rounded-circle me-1"
            >
              <i class="mdi mdi-facebook"></i>
            </button>
            <button
              class="btn btn-sm ripple bg-danger-transparent text-danger rounded-circle me-1"
            >
              <i class="mdi mdi-google"></i>
            </button>
            <button
              class="btn btn-sm ripple bg-info-transparent text-info rounded-circle"
            >
              <i class="mdi mdi-twitter"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      <div class="card custom-card our-team">
        <div class="card-body">
          <div class="picture avatar-lg online text-center">
            <img alt="avatar" class="rounded-circle" src="./assets/img/users/7.jpg">
          </div>
          <div class="text-center mt-3">
            <h5 class="pro-user-username text-dark mt-2 mb-0">Robbie Ruder</h5>
            <p class="pro-user-desc text-muted mb-1"></p>
            <div class="text-center tx-14 mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam !
            </div>
          </div>
          <div class="text-center mt-3">
            <button class="btn btn-sm ripple bg-primary-transparent text-primary rounded-circle me-1"><i
                class="mdi mdi-facebook"></i></button>
            <button class="btn btn-sm ripple bg-danger-transparent text-danger rounded-circle me-1"><i
                class="mdi mdi-google"></i></button>
            <button class="btn btn-sm ripple bg-info-transparent text-info rounded-circle"><i
                class="mdi mdi-twitter"></i></button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
      <div class="card custom-card our-team">
        <div class="card-body">
          <div class="picture avatar-lg online text-center">
            <img alt="avatar" class="rounded-circle" src="./assets/img/users/8.jpg">
          </div>
          <div class="text-center mt-3">
            <h5 class="pro-user-username text-dark mt-2 mb-0">Mariane Galeon</h5>
            <p class="pro-user-desc text-muted mb-1">Web Designer</p>
            <div class="text-center tx-14 mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam !
            </div>
          </div>
          <div class="text-center mt-3">
            <button class="btn btn-sm ripple bg-primary-transparent text-primary rounded-circle me-1"><i
                class="mdi mdi-facebook"></i></button>
            <button class="btn btn-sm ripple bg-danger-transparent text-danger rounded-circle me-1"><i
                class="mdi mdi-google"></i></button>
            <button class="btn btn-sm ripple bg-info-transparent text-info rounded-circle"><i
                class="mdi mdi-twitter"></i></button>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- End Row -->
</div>
<br />
<br />
